body{
    color: deeppink;
    background-color: black
}
h1{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
body{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}